*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image:url(https://as2.ftcdn.net/v2/jpg/05/23/36/39/1000_F_523363994_yxxJYDpKFxeWPxPPNre4fwfVqqALwbbM.jpg);
  background-position-x: 10%;

}

.sign-up{
  
  border: 1px solid black;
 
  background: transparent;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  text-align: center;
}

.sign-up .input-box{

  width: 200px;
  height: 30px;
  margin: 10px;
 
}

.input-box input {

  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  
  border: 1px solid black;
  border-radius: 40px;
  padding: 10px
  
}

.input-box input::placeholder{
  color: black;
}

.sign-up .btn{
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  margin: 0px 5px 5px 5px;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 40px;
  background: #add8e6;
}

.btn input{
  margin: 5px;
}

.btn:hover{
  border: 1px solid black;
}
.btn:active{

  background-color: #90d8e6;
  border: 1px solid black;
  
}
