
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;
}

#index-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image:url(https://as2.ftcdn.net/v2/jpg/05/23/36/39/1000_F_523363994_yxxJYDpKFxeWPxPPNre4fwfVqqALwbbM.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;

}

.wrapper{
  display: flex;
  justify-content: center; 
  border: 1px solid black;
 
  background: transparent;
  backdrop-filter: blur(20px);
  
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 15px 5px black;

}
.sign-in{
  border-right: 1px solid black;
}

.wrapper .input-box{

  width: 200px;
  height: 30px;
  margin: 10px;
 
}

.wrapper input {

  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  
  border: 1px solid black;
  border-radius: 40px;
  padding: 10px
  
}

.input-box input::placeholder{
  color: black;
}

.wrapper .btn{
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  margin: 0px 5px 5px 5px;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 40px;
  background: #add8e6;
}

.btn input{
  margin: 5px;
}

.btn:hover{
  border: 1px solid black;
}
.btn:active{

  background-color: #90d8e6;
  border: 1px solid black;
  
}

p {
  position: absolute;
  width: 20px;
  background: #add8e6;
  border-radius: 10px;
  outline: 1px solid black;
  translate: -0.5px 10px;  
  
}



header{
  display: flex;
  background: black;
  color: white;
  padding: 20px ;
}



nav {
  background-color: #F3EB12; 
  padding: 10px;
  text-align: center; 
}

nav a {
  color: black;
  text-decoration: none;
  padding:5px 40px;
  margin: 2%; /* Space between buttons */
  font-size: 15px; /* Font size */
}

nav a:hover {
  background-color: black; /* Change background color when hovered */
  color: white;
}

h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
h2 {
  color: white;
  font-size: 100%;
  text-align: center;
  margin: 0px;
}
form {
  text-align: center;
  margin: 10px;
}