/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Sign In/Sign Up Page */
#index-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://as2.ftcdn.net/v2/jpg/05/23/36/39/1000_F_523363994_yxxJYDpKFxeWPxPPNre4fwfVqqALwbbM.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-container {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 350px;
  width: 90%;
  margin: 2rem;
  text-align: center;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #eee;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #add8e6;
  font-weight: bold;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.auth-form button.btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #ADD8E6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.auth-form button.btn:hover {
  background-color: #90d8e6;
}

.hidden {
  display: none;
}

.guest-btn {
  margin-top: 1.5rem;
  background: none;
  border: none;
}

.guest-btn a {
  color: #0077cc;
  text-decoration: underline;
  font-size: 0.9rem;
}

/* Home Page */
#home header {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 30px;
}

#home header h1 {
  text-align: center;
}

#home span {
  text-align: right;
  font-size: 20px;
  display: block;
}

#home input {
  font-size: 15px;
  width: auto;
  border-radius: 5px;
  border: 1px solid black;
}

nav.taskbar {
  background-color: #F3EB12;
  padding: 15px;
  text-align: center;
  width: 100%;
}

nav.taskbar a {
  color: black;
  text-decoration: none;
  padding: 12px 40px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav.taskbar a:hover {
  background-color: black;
  color: white;
}
